{% extends "base.html" %}

{% block head_title %}Mentee Records{% endblock %}
{% block content %}
<div class="row">
    <h2>Mentee Records</h2>
    <a href="/mentee/meetings/" class="btn btn-inverse pull-right">Mentee Meetings</a>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Enrolment Number</th>
            <th>Name</th>
            <th>Course</th>
            <th>Section</th>
            <th>Group</th>
        </tr>
    </thead>
    <tbody>
    {% for mentee in mentee_list %}
    <tr>
        <td>{{ mentee.enrolment_number }}</td>
        <td>{{ mentee.first_name }} {{ mentee.last_name }}</td>
        <td>{{ mentee.course }}</td>
        <td>{{ mentee.section }}</td>
        <td>{{ mentee.group }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
