{% extends "base.html" %}

{% block head_title %}Courses - {{ school.name }} - Vishwavidyalaya{% endblock %}
{% block page_title %}Courses{% endblock %}
{% block page_subtitle %}{{ school.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span10 offset1">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Course Coordinator</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td><a href="{% url course_detail course.id %}">{{ course.name }}</a></td>
                    <td><a href="{% url faculty_detail course.coordinator.id %}">{{ course.coordinator }}</a></td>
                    <td><a href="{% url course_detail course.id %}" class="btn"><i class="icon-folder-open"></i> Details</a>
                        {% if is_director or course.department.hod.user.username == user.username %}
                        <a href="{% url course_update course.id %}" class="btn"><i class="icon-wrench"></i> Edit</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
