{% extends "base.html" %}

{% block head_title %}Departments - {{ school.name }} - Vishwavidyalaya{% endblock %}
{% block page_title %}Departments{% endblock %}
{% block page_subtitle %}{{ school.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span10 offset1">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Department Name</th>
                    <th>Department Head</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr>
                    <td><a href="{% url dept_detail department.id %}">{{ department.name }}</a></td>
                    <td><a href="{% url faculty_detail department.hod.id %}">{{ department.hod }}</a></td>
                    <td>
                        <a href="{% url dept_detail department.id %}" class="btn"><i class="icon-folder-open"></i> Details</a>
                        {% if is_director %}
                        <a href="{% url dept_update department.id %}" class="btn"><i class="icon-wrench"></i> Edit</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
