{% extends "base.html" %}

{% block head_title %}Sections - {{ school.name }} - Vishwavidyalaya{% endblock %}
{% block page_title %}Sections{% endblock %}
{% block page_subtitle %}{{ school.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span10 offset1">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Section Name</th>
                    <th>Group1 Mentor</th>
                    <th>Group2 Mentor</th>
                </tr>
            </thead>
            <tbody>
                {% for section in sections %}
                <tr>
                    <td><a href="{% url section_detail section.id %}">{{ section.name }} {{ section.batch }}</a></td>
                    <td></td>
                    <td></td>
                    <td><a href="{% url section_detail section.id %}" class="btn"><i class="icon-folder-open"></i> Details</a>
                        {% if is_hod or is_director %}
                        <a href="{% url section_update section.id %}" class="btn"><i class="icon-wrench"></i> Edit</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
