{% extends "base.html" %}

{% block head_title %}Sections - {{ school.name }} - Vishwavidyalaya{% endblock %}
{% block page_title %}Sections{% endblock %}
{% block page_subtitle %}{{ school.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span8 offset2">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Section Name</th>
                    <th>Group1 Mentor</th>
                    <th>Group2 Mentor</th>
                </tr>
            </thead>
            <tbody>
                {% for section in sections %}
                <tr>
                    <td><a href="{% url section_detail section.id %}">{{ section.name }} {{ section.batch }}</a></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
