{% extends "base.html" %}

{% block head_title %}{{ faculty.user.get_full_name }}{% endblock %}
{% block page_title %}{{ faculty.user.get_full_name }}{% endblock %}
{% block page_subtitle %}{{ faculty.designation }}{% endblock %}
{% block content %}
<div class="row">
    <a href="{% url faculty_list %}" class="btn btn-primary pull-left">Go Back</a>
</div>
<div class="row well">
    <div class="span6 offset1">
        <dl class="dl-horizontal">
            <dt>Emp ID</dt>
            <dd>{{ faculty.empID }}</dd>
            <dt>Name</dt>
            <dd>{{ faculty.user.get_full_name }}</dd>
            <dt>Designation</dt>
            <dd>{{ faculty.designation }}</dd>
            <dt>Qualification</dt>
            <dd>{{ faculty.qualification }}</dd>
            <dt>Experience</dt>
            <dd>{{ faculty.experience }}</dd>
            {% if faculty.phone %}
            <dt>Phone</dt>
            <dd>{{ faculty.phone }}</dd>
            {% endif %}
        </dl>
    </div>
</div>
{% endblock %}
