{% extends "base.html" %}

{% block head_title %}Student{% endblock %}
{% block page_title %}{{ student.get_full_name }}{% endblock %}
{% block page_subtitle %}{{ student.course }}{% endblock %}
{% block content %}
{% if is_hod or is_director or is_coordinator %}
<div class="row">
    <a href="{% url student_create %}" class="btn btn-success pull-right">Add new Student</a>
</div>
{% endif %}
<div class="row well">
    <div class="span6 offset1">
        <dl class="dl-horizontal">
            <dt>Enrolment Number</dt>
            <dd>{{ student.enrollment_number }}</dd>
            <dt>Name</dt>
            <dd>{{ student.get_full_name }}</dd>
            <dt>Course</dt>
            <dd>{{ student.course }}</dd>
            <dt>Section - Group</dt>
            <dd>{{ student.section }} - {{ student.group }}</dd>
            {% if student.email %}
            <dt>Email</dt>
            <dd>{{ student.email }}</dd>
            {% endif %}
            {% if student.phone %}
            <dt>Phone</dt>
            <dd>{{ student.phone }}</dd>
            {% endif %}
        </dl>
    </div>
</div>
{% endblock %}
