{% extends "base.html" %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block extra_head %}
<style>
    .form-row {
        margin-bottom: 20px;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
    <form class="form-inline" method="post" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="row form-row">
                {% for field in form %}
                    {{ field.errors }}
                    {% if forloop.first %}
                        {{ field|add_class:"span4" }}
                    {% else %}
                        {{ field|add_class:"span1" }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
