{% extends "base.html" %}

{% block head_title %}Attendance - Amity University - CSE Dept{% endblock %}
{% block content %}
<div class="row">
    <h2>Students Performance</h2>
    <div class="row">
        <div class="span6 offset4">
            <form method="post" action="">
            <select>
                <option>CSE</option>
                <option>CSE/IT</option>
                <option>BCA</option>
            </select>
            <button type="submit" class="btn btn-success">Go</button>
            </form>
        </div>
            <a href="/academics/performance/edit/" class="btn btn-inverse pull-right">Edit All</a>
    </div>
</div>
<table class="table table-striped table-hover table-hovered">
    <thead>
        <tr>
            <th>Enrolment Number</th>
            <th>Name</th>
            <th>Group</th>
            <th>Attendance</th>
            <th>Total Attendance</th>
            <th>Sessional 1</th>
            <th>Sessional 2</th>
            <th>Quiz/Assignment</th>
        </tr>
    </thead>
    <tbody>
    {% for performance in performance_list %}
    <tr>
        <td>{{ performance.student.enrolment_number }}</td>
        <td><a href="/academics/student/{{ performance.student.id }}/">{{ performance.student.first_name}} {{ performance.student.last_name }}</a></td>
        <td>{{ performance.student.group }}</td>
        <td>{{ performance.attendance }}</td>
        <td>{{ performance.total_attendance }}</td>
        <td>{{ performance.sessional1 }}</td>
        <td>{{ performance.sessional2 }}</td>
        <td>{{ performance.quiz }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
