<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Amity University - CSE Dept{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">

    <style>
        body {
            margin-top: 10px;
        }
        .header {
            margin-bottom: 30px;
        }
        .content {
            margin-bottom: 60px;
        }
        .footer {
            padding: 100px 0;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body>
{% block body %}
<div class="container">
<div class="header">
    <h1>Amity University Haryana</h1>
    <p class="lead">Computer Science Dept</p>
    <div class="row clearfix">
        <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="/mentee/">Mentee Records</a></li>
            <li><a href="/academics/marks/">Marks</a></li>
            <li><a href="/academics/attendance/">Attendance</a></li>
            <li><a href="/faculty/">Faculty</a></li>
            <li><a href="/accounts/profile/">Profile</a></li>
            <li><a href="/accounts/password/change/">Change Password</a></li>
            <li class="pull-right"><a href="/accounts/logout/">Logout</a></li>
            <li class="pull-right"><a href="/admin/">Admin</a></li>
            {% else %}
            <li class="pull-right"><a href="/accounts/register/">Register</a></li>
            <li class="pull-right"><a href="/accounts/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="row content">
    {% block content %}
    <div class="hero-unit">
        <h1>Welcome to CSE Dept home</h1>
        <p class="lead">Manage all student records at one place</p>
        <a href="/accounts/login/" class="btn btn-large btn-primary">Login Now</a>
    </div>
    <div class="row">
        <div class="span4">
            <h3>Mentor System</h3>
            <p>Manage your mentees details and all meetings here.</p>
            <a href="/mentee/" class="btn">Check Out</a>
        </div>
        <div class="span4">
            <h3>Attendance</h3>
            <p>Update your students' attendance here</p>
            <a href="/academics/attendance/" class="btn">Check Out</a>
        </div>
        <div class="span4">
            <h3>Marks</h3>
            <p>Manage and update all the internal marks.</p>
            <a href="/academics/marks/" class="btn">Check Out</a>
        </div>
    </div>
    {% endblock %}
</div>
<div class="footer">
    <div class="span3">
        <ul class="unstyled">
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="http://codesters.org">dev team</a></li>
        </ul>
    </div>
    <div class="span5">
        <p>This project is powered by Django and Python.</p>
        <p>Made by <a href="http://codesters.org/">Codesters</a></p>
    </div>
    <div class="span3 pull-right">
        <ul class="unstyled">
            <li><a href="http://amizone.net/">amizone</a></li>
            <li><a href="http://amity.edu/">amity.edu</a></li>
            <li><a href="http://amity.edu/gurgaon/">amity gurgaon</a></li>
        </ul>
    </div>
</div>
</div>
{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>
