{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}Amity University Haryana{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is college management solution from codesters">
    <meta name="author" content="Karambir Singh Nain">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

        {% block extra_head %}{% endblock %}
  </head>

  <body>
    {% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Amity University</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
              {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Overview <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'school_overview' %}">All</a></li>
                  <li><a href="#">Departments</a></li>
                  <li><a href="#">Courses</a></li>
                  <li><a href="#">Sections</a></li>
                </ul>
              </li>
              <li><a href="#about">Mentor System</a></li>
              <li><a href="#contact">Academics</a></li>
              <li class="pull-right"><a href="{% url 'auth_logout' %}">Logout</a></li>
              {% else %}
              <li class="pull-right"><a href="{% url 'registration_register' %}">Register</a></li>
              <li class="pull-right"><a href="{% url 'auth_login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}

    </div> <!-- /container -->
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
